<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLTTGIASU_V0._2.Properties.Settings.QLTTGIASUConnectionString"
            connectionString="Data Source=DESKTOP-5PSSEM5\SQLEXPRESS;Initial Catalog=QLTTGIASU;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>